@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@tailwind base;

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(30, 58, 138);
  font-family: "Silkscreen", cursive;
}
@tailwind components;

.hero-title {
  animation: typing 1.5s steps(26, end);
  letter-spacing: 0.1em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@tailwind utilities;
